@use "../abstracts" as *;

.genreInfo {
  margin: 8rem 0;

  &__text {
    margin-bottom: 4rem;
    font-size: 2rem;
    color: $silverdark;
    line-height: 2.8rem;
  }

  &__details {
    @include flexAlign(flex, space-between, center);
    padding: 1.3rem 0;
    border-bottom: 1px dotted $silverlight-50;

    &__text, &__head {
      font-size: 1.4rem;
      color: $silverdark;
    }
  }
}