@use "../abstracts";

.modal {
  @include abstracts.position(fixed, 0, 0, 0, 0, 100%, 100%);
  @include abstracts.darkBackground(0.8);
  @include abstracts.flexAlign(flex, center, center);

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
  }

  &__body {
    background-color: abstracts.$white;
    padding: 2rem;
    font-size: 1.4rem;
    // width: 40vw;
    width: 38rem;

    @include abstracts.animation(modal, 1s, ease-out, null, null);
    @keyframes modal {
      0% {
        opacity: 0;
        transform: translateY(-8rem);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}